@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "moche";
  src: url("../public/Moche-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "moche";
  src: url("../public/Moche-Bold.ttf");
  font-weight: bold;
}